<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-aps-notification"
  version="1.0.0">

	<name>ApsNotification</name>
	 
	<description>
		The plugin can register Aps Push Service,And return Device Token
	</description>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/apsNotification.js" name="apsNotificationPlugin">
		<clobbers target="plugins.apsNotification" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ApsNotificationPlugin">
				<param name="ios-package" value="CDVApsNotification"/>
			</feature>
		</config-file>

		<header-file src="src/ios/CDVApsNotification.h" />
		<source-file src="src/ios/CDVApsNotification.m" />

	</platform>
</plugin>
